

.welcomeMessageContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.userTitle {
    font-size: 50px;
}
.welcomeMessage{
    font-size: 20px;
}
#userName {
    font-style: bold;
}
.monitoringContainer {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.systemElement{

    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;

}
.elementTitle{
    font-size: 30px;
}